.container {
    display: -webkit-flex;
    display: flex;
}

nav {
    width: 200px;
    position: absolute;
}

.flex-column {
    -webkit-flex: 1;
    flex: 1;
}

.container2 {
    display: -webkit-box;
    display: flex;
}

.flexItems{
    -webkit-box: 1;
    padding: 1rem;
}

.rodapé{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

section{
    margin-left: 200px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: blue;
    width: 100%;
}

body{
    margin-bottom: 120px;
}
